import {ApiKey} from "./app/types/api-key";

export class Config {
    // Express JS Config
    static port: number = 7890;


    // Details of the database connection
    static databaseConnection: "postgres://smshub:smshub@localhost:7891/smshub"; // Default for Docker Image

    // Define an Api Key for nexmo
    static nexmo: ApiKey = {
        key: "KEY",
        secret: "SECRET"
    };

}