import {ApiKey} from "./app/types/api-key";

export class Config {
    // Express JS Config
    static port: number = 7890;

    // Base URL for the webhooks
    static baseWebhook:string = "https://smshub.domainname.com"; // Must be changed to the base webhook url

    // Details of the database connection
    static databaseConnection:string = "postgres://smshub:smshub@localhost:7891/smshub"; // Default for Docker Image

    // Define an Api Key for nexmo
    static nexmo: ApiKey = {
        key: "KEY",
        secret: "SECRET"
    };

    // Define an Api Key for mandrill
    static mandrill: ApiKey = {
        key: "KEY"
    };

    // Define an Api Key for AWS 
    static aws: ApiKey = {
        key: "KEY",
        secret: "SECRET"
        
    }

    // Define an AWS S3 bucket name
    static bucket: string = "BUCKET";

}